
body{
  background-color: whitesmoke;
}
.squares {
  width: 18%;
  margin: 10px 10px;
  float: left;
  height: 100px;
  background-color: rgb(152, 152, 184);

}
button{
  display: flex;
  width: 30px 300px;
  height: 0px 10px;
}